<mat-card class="example-card">

    <mat-card-title><h2>ลงทะเบียนเสร็จสิ้น</h2></mat-card-title>
    <mat-list>
      
        <mat-card-content>
          <mat-divider></mat-divider>
          <div align="left">
            <p>Username : {{payment.members.username}}</p>
            <p>ชื่อ :  {{payment.members.name}}</p>
            <p>กิจกรรม : {{payment.sportEvent.evenName}}</p>
            <p>ค่าเข้าร่วม : {{payment.sportEvent.evenPrice}}</p>
            <p>จำนวนเงินที่จ่าย : {{payment.paymentPaid}}</p>
            <p>ประเภทการจ่ายเงิน : {{payment.payCategory.paycateName}}</p>
          </div>
          <mat-divider></mat-divider>
          
        </mat-card-content>

    </mat-list>

</mat-card>


