<div class="image">

  <mat-toolbar color="warn">
    <span>
      <a button mat-raised-button color="warn" routerLink="/">Home</a>
      <a button mat-raised-button color="warn" routerLink="/sportevent">ระบบจัดการกิจกรรม</a>
      <a button mat-raised-button color="warn" routerLink="/account">ระบบบันทึกรายรับ-รายจ่าย</a>
      <a button mat-raised-button color="warn" routerLink="/RegisterStaff">ระบบลงทะเบียนStaff</a>
      <a button mat-raised-button color="warn" routerLink="/Department">จัดเก็บข้อมูลหน่วยงานที่เกี่ยวข้อง</a>
      <a button mat-raised-button color="warn" routerLink="/ReservePlace">ระบบจองสถานที่จัดกิจกรรม</a>
      <a button mat-raised-button color="warn" routerLink="/memberlogin">จ่ายเงินและตรวจสอบสถานะ</a>
      <a button mat-raised-button color="warn" routerLink="/Result">บันทึกผลการแข่งขัน</a>
    </span>
  </mat-toolbar>
  <router-outlet>

  </router-outlet>

</div>
