<div align=center>
  <mat-card class="example-card">
    <div align=center>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="เลือกกิจกรรม" [(ngModel)]="view.seid">
              <mat-option *ngFor="let eventname of eventnames" [value]="eventname.seid">
                {{eventname.eventName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ชื่อกิจกรรม" [(ngModel)]="view.eventname">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <input matInput placeholder="รายละเอียดกิจกรรม" [(ngModel)]="view.detail">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-select placeholder="ชนิดกีฬา" [(ngModel)]="view.stype">
          <mat-option *ngFor="let stype of stypes" [value]="stype.stid">
            {{stype.sportName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-select placeholder="สถานที่จัดกิจกรรม" [(ngModel)]="view.location">
          <mat-option *ngFor="let location of locations" [value]="location.lid">
            {{location.locations}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-select placeholder="เจ้าหน้าที่จัดกิจกรรมกีฬา" [(ngModel)]="view.eventstaff">
          <mat-option *ngFor="let eventstaff of eventstaffs" [value]="eventstaff.sesid">
            {{eventstaff.sesName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width">
        <input matInput placeholder="ราคา" [(ngModel)]="view.price">
      </mat-form-field>
    </div>
    <mat-card-actions>
      <a button mat-raised-button color="primary" (click)="edit()"> บันทึกกิจกรรม </a>
    </mat-card-actions>
  </mat-card>
</div>