<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  
    </style>

<title>Page Title</title>
</head>

<body>

  
<div class="container"> <!--หัวข้อ-->
  <h1>จัดกิจกรรมกีฬา</h1>
  <p>ระบบลงทะเบียนStaff</p>
  
</div>
<div>

    <div class="topnav">
        <a > </a><!-- ใส้หน้าหลักMenu-->
       <!-- <a class="active" href="#home">ลงทะบียน</a>-->
        <a class="active" href="#home">ลงทะเบียน</a>
      </div>

  <div class="panelmaster">
    <div class="panel1">
      <form id="formtext">
        
          <label for="ชื่อ">ชื่อ-สกุล :</label>
          <br>
          <br>
          <label for="ประเภทงาน">ประเภทงาน :</label>
          <br>
          <br>   
          <label for="เพศ">เพศ :</label>
          <br>
          <br>
          <label for="จำนวน">เบอร์โทร :</label>
          <br>
          <br>
          
      </form>
    </div>
    <div class="panel2">
      
      <mat-form-field class="example-full-width">               <!-- ชื่อสกุล -->
          <input matInput placeholder="ชื่อสกุล" [(ngModel)]="view.NameInput" >
      </mat-form-field>

    
     <mat-form-field>                                            <!-- ประเภทงาน -->
          <mat-select placeholder="ประเภทงาน" name = "KindWork" [(ngModel)]="view.KindWork">
              
            <mat-option *ngFor="let kind of works" [value]="kind.work">
                 {{kind.work}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field>                                            <!-- เพศ -->
          <mat-select placeholder="เพศ" name = "Gender" [(ngModel)]="view.Gender">
              
            <mat-option *ngFor="let gender of genders" [value]="gender.nameGender">
                 {{gender.nameGender}}</mat-option>
          </mat-select>
        </mat-form-field>

      
        <br>
        <mat-form-field class="example-full-width">               <!-- เบอร์โทร -->
          <input matInput placeholder="เบอร์โทร" [(ngModel)]="view.TellInput">
      </mat-form-field>

       <!-- <label id="i" for="คน">คน</label>-->



    </div>
    <div class="panel3">
        <form id="formtext2">
            <label for="ช่วงอายุ">อายุ :</label>
          
        </form>
    </div>
    <div class="panel4">

      <!-- ช่วงเวลา -->
      <!--  <mat-form-field>                                            
          <mat-select placeholder="ช่วงเวลา" name = "time" [(ngModel)]="view.Time">
              
            <mat-option *ngFor="let time of times" [value]="time.time">
                 {{time.time}}</mat-option>
          </mat-select>
        </mat-form-field>
        -->


        <!-- ช่วงอายุ -->
       <!-- <mat-form-field>                                            
          <mat-select placeholder="ช่วงอายุ" name = "age" [(ngModel)]="view.Age">
              
            <mat-option *ngFor="let age of ages" [value]="age.age">
                 {{age.age}}</mat-option>
          </mat-select>
        </mat-form-field>
        -->
        

        
        <mat-form-field>                                            <!-- อายุ -->
          <mat-select placeholder="อายุ" name = "age" [(ngModel)]="view.Age">
              
            <mat-option *ngFor="let age of ages" [value]="age.age">
                 {{age.age}}</mat-option>
          </mat-select>
        </mat-form-field>
        


      
    </div>
    <div class="panel5">
        <form id="formtext">
            <label for="ชื่อ"> </label> <!-- -->
            
        </form>
    </div>
    <div class="panel6">
          <form id="formtext">
              <label for="ชื่อ"> </label> <!-- -->
              </form>
    </div>
    <div class="panel7">
            <form id="formtext">
                <label for="ชื่อ"> </label> <!-- -->
            </form>
    </div>
    <div class="panel8">
        <form id="formtext">
            <button class="btn info" (click)="Save()" >Save</button>
            
            
        </form>
    </div>
   
    <div class="panel9">
      <form id="formtext">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- ======================================ตารางโชว์====================================== -->
        
          <!-- RegisterStaff Column -->
          <ng-container matColumnDef="nameRegisterStaff">
            <th mat-header-cell *matHeaderCellDef> ชื่อ-สกุล </th>
            <td mat-cell *matCellDef="let element"> {{element.nameRegisterStaff}} </td>
          </ng-container>
        
          <!-- workStaff Column -->
          <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef> ประเภท </th>
            <td mat-cell *matCellDef="let element"> {{element.workStaff.work}} </td>
          </ng-container>
        
          <!-- genderStaff Column -->
          <ng-container matColumnDef="genderStaff">
            <th mat-header-cell *matHeaderCellDef> เพศ </th>
            <td mat-cell *matCellDef="let element"> {{element.genderStaff.nameGender}} </td>
          </ng-container>
        

          <!-- ageStaff Column -->
          <ng-container matColumnDef="ageStaff">
            <th mat-header-cell *matHeaderCellDef> อายุ </th>
            <td mat-cell *matCellDef="let element"> {{element.ageStaff.age}} </td>
          </ng-container>

          <!-- tel Column -->
          <ng-container matColumnDef="tell">
            <th mat-header-cell *matHeaderCellDef> เบอร์โทร </th>
            <td mat-cell *matCellDef="let element"> {{element.tell}} </td>
          </ng-container>

        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
    </form>

  </div>


  </div>
</div>
</body>


</html>




